*{
    padding: 0;
  margin: 0;
  font-family: gilroy;
 box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
    width: 100%;
    height: 100%;
    
}
#left{
    position: relative;
    width: 46%;
    height: 100%;
    
}
#lnav{
    display: flex;
    width: 100%;
    padding: 20px 30px;
    justify-content: space-between;

}
#lnavr{
    display: flex;
    align-items: center;

}
#lnavr a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: 600;

}
#lnav i{
    color: blue;
}
#center{
    position: absolute;
    top: 20%;
    left: 5%;
    transform: translate(-0%,10%);


}
#center h1 {
    font-size: 78px;
}

#center a {
 text-decoration: none;
 color: black;
 border-bottom: 1px solid black;
 padding-bottom: 4px;
 font-size: 13px;
 font-weight: 800;
 opacity: 9;
}


#right{
    width: 60%;
    height: 100%;
    background-color: red;
}
#rtop{
    display: flex;
  width: 100%;
  height: 50%;
  background-color: #fff;

}
#rbottom{
    width: 100%;
    height: 50%;
   background-image: url(https://images.unsplash.com/photo-1540317700647-ec69694d70d0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGxlYWZ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
   background-size:cover;
  background-position: center;
  
}

#topleft{
    width: 55%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1528475563668-e15742001b92?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y2FjdHV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
    background-size:cover;
}   
#topright{
    width: 45%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1557800636-894a64c1696f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8b3JhbmdlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
}




@media(max-width : 500px){
    #main{
        flex-direction: column;
    }
    #main #left{
        width: 100%;
    }

    #main #right{
        width: 100%;
    }
}